
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Project Detail";
}

<h1 class="h3 text-primary text-uppercase mb-4 font-weight-bold project-name">POS Toko Kita Adiwerna</h1>

<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header-->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between flex-sm-wrap">
                <h5 class="m-0 font-weight-bold text-primary">Project Activities</h5>
                <button class="btn float-right btn-primary"
                        type="button"
                        data-toggle="modal"
                        data-target="#activityForm">
                    Add Activity<i class="fas fa-plus ml-2"></i>
                </button>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="row px-4">
                    <div class="col-xl-4 col-md-6 col-sm-12">
                        <h6 class="m-0 mb-4 font-weight-bold text-primary">Not Started</h6>
                        <div class="notstarted">
                            <!-- content here -->
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6 col-sm-12">
                        <h6 class="m-0 mb-4 font-weight-bold text-primary">Started</h6>
                        <div class="started">
                            <!-- content here -->
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6 col-sm-12">
                        <h6 class="m-0 mb-4 font-weight-bold text-primary">Completed</h6>
                        <div class="completed">
                            <!-- content here -->
                        </div>
                    </div>
                </div>
            </div>
            @if(User.IsInRole("Human Resource"))
            {
                <div class="card-footer">
                    <button class="btn btn-dark float-right close-project" disabled>Close Project</button>
                </div>
            }
        </div>
    </div>
</div>


<!-- Activity form Modal  -->
<div class="modal fade" id="activityForm" tabindex="-1" role="dialog" aria-labelledby="activityForm" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="activityForm"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="activity-form" method="post" novalidate>
                    <div class="form-group">
                        <label for="activity-name">Activity Name</label>
                        <input type="text" class="form-control" id="activity-name" name="name" required>
                        <div class="invalid-feedback">Field Cannot be Empty</div>
                    </div>

                    <div class="form-group">
                        <label for="start-date">Start Date</label>
                        <input type="date" name="startdate" class="form-control" id="start-date" required>
                        <div class="invalid-feedback">Field Cannot be Empty</div>
                    </div>

                    <div class="form-group">
                        <label for="end-date">End Date</label>
                        <input type="date" name="enddate" class="form-control" id="end-date" required>
                        <div class="invalid-feedback">Field Cannot be Empty</div>
                    </div>

                    <div class="form-group">
                        <label for="status">Status</label>
                        <select class="form-control" id="status" name="status">
                            <option value="0">Unstarted</option>
                            <option value="1">Started</option>
                            <option value="2">Completed</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btnActivity">Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Activity detail Modal  -->
<div class="modal fade" id="activityDetail" tabindex="-1" role="dialog" aria-labelledby="activityDetail" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="activityDetail">Activity Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="activityDetail">

                </div>
                
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Show Employee Assign <i class="fas fa-chevron-down"></i>
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                @if (User.IsInRole("Human Resource"))
                                { 
                                    <button class="btn btn-sm float-right btn-primary mb-3" data-dismiss="modal" type="button" data-toggle="modal" data-target="#EmployeeAssignment">
                                        Assign Employee <i class="fas fa-plus ml-2"></i>
                                    </button>
                                }

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td>No</td>
                                            <td>Name</td>
                                            <td>Job</td>
                                            <td>Department</td>
                                            @if(User.IsInRole("Human Resource"))
                                            {
                                                <td>Action</td>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody class="employeeTable">
                                        
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                @if (User.IsInRole("Human Resource"))
                {
                    <button type="button" class="btn btn-success" onclick="activityUpdate()">Update <i class="fas fa-edit"></i></button>
                    <button type="button" class="btn btn-primary save-update-activity" onclick="saveActivityUpdate()" hidden disabled>save <i class="fas fa-edit"></i></button>
                }
                @*<button type="button" class="btn btn-success" data-toggle="modal" data-dismiss="modal" data-target="#EmployeeAssignment">Update <i class="fas fa-edit"></i></button>*@
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onClick="sessionStorage.removeItem('activityId')">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Employe Assignment Modal  -->
<div class="modal fade" id="EmployeeAssignment" tabindex="-1" role="dialog" aria-labelledby="EmployeeAssignment" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-full-height" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EmployeeAssignment"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="max-height: calc(95vh - 150px)">
                <div class="row">
                    <div class="col">
                        <div class="title">
                            <span class="h4 font-weight-bold text-primary">Selected Employee</span>
                        </div>
                        <div class="selected-employee-container overflow-auto mt-4 overflow-auto" style="max-height:70vh">
                            
                            <div class="border rounded mb-2">
                                <div class="d-flex flex-row justify-content-between align-items-center flex-sm-wrap p-1">
                                    <div class="title-text">
                                        <span class="font-weight-bold">Hasbi Shuhada</span><br />
                                        <span class="text-black-50 small mt-0">Backend Engineer - Applicaton Developer</span>
                                    </div>
                                    <div class="btn-container">
                                        <button onClick="" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i></button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col">
                        <div class="title">
                            <span class="h4 font-weight-bold text-primary" >Select Employee</span>
                        </div>
                        <div class="selected-employee-container mt-4 overflow-auto" style="max-height:70vh">
                            
                            <div class="border rounded mb-2">
                                <div class="d-flex flex-row justify-content-between align-items-center flex-sm-wrap p-1">
                                    <div class="title-text">
                                        <span class="font-weight-bold">Hasbi Shuhada</span><br />
                                        <span class="text-black-50 small mt-0">Backend Engineer - Applicaton Developer</span>
                                    </div>
                                    <div class="btn-container">
                                        <button onClick="" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                            
                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save <i class="fas fa-save"></i></button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var roles = '@User.IsInRole("Human Resource")';
    console.log(roles)
</script>

@section Scripts {
    <script src="~/js/Project.js"></script>
}