@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Home Page";
}

@{
    ViewBag.Title = "Jwt Payload";
    var data = ViewBag.Payload;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@data.Email</p>
</div>
