@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Dashboard";
}


<div class="text-center">
    <h1 class="display-4">Chart Here</h1>
    <div class="card">
        <div class="card-header">
            <h4 class="font-weight-bold text-primary float-left">Aplikasi Kasir Toko X</h4>
        </div>
        <div class="card-body">
            <div id="chart">

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/js/Chart.js"></script>
}
