
@{
    Layout = "_Auth";
    ViewData["Title"] = "ChangePassword";
}

<div class="card">
    <div class="card-header">
        <h3>Change Password</h3>
    </div>
    <div class="card-body">
        <form class="change-password" method="post" asp-controller="Accounts" asp-action="Auth">
            <div class="form-group">
                <input type="email" name="email" class="form-control form-control-user"
                       id="inputEmail" aria-describedby="emailHelp"
                       placeholder="Enter Email Address..." required>
            </div>
            <div class="form-group">
                <input type="password" name="curentpassword" class="form-control form-control-user"
                       id="inputcurentpassword"
                       placeholder="Enter Current Password" required>
            </div>
            <div class="form-group">
                <input type="password" name="newpassword" class="form-control form-control-user"
                       id="inputnewpassword"
                       placeholder="Enter New Password" required>
            </div>
            <div class="form-group">
                <input type="password" name="confirmpassword" class="form-control form-control-user"
                       id="confirmpassword"
                       placeholder="Confirm Password" required>
            </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                    Change Password
                </button>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/Account.js"></script>
}